.mainSiteWrapper {
  background: #fff;
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
}

.headerWrapper div {
  flex: 0 0 calc(50% - 10px);
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
  background: url('https://images.pexels.com/photos/4409273/pexels-photo-4409273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  margin: 5px;
  border-radius: 5px;
}

.headerWrapper div .move {
  font-size: 0;
  transition: .2s;
}

.headerWrapper div:hover .move {
  font-size: 10px;
}

.headerWrapper .openingHours {
  flex: 0 0 100%;
  width: 100%;
  background: orange;
}

.textReview {
  min-height: 200px;
  width: 100%;
  position: relative;
}

.textReview .reviews {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.textReview .reviews.activeText {
  opacity: 1;
}

.review {
  display: flex;
}

.review .imgContainer {
  width: 33%;
}

.review .imgContainer img {
  width: 100%;
}